<center>
<h1>Search Employees by name</h1>
<%= form_tag(search_path, :method => "get", class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Search Employee", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>


<h1>Search Result</h1>
<table style="width:70%"; border="1">
  <tr>
    <th>Employee ID &nbsp; &nbsp; </th>
    <th>Employee Name &nbsp; &nbsp; </th>
	<th>Employee E-Mail &nbsp; &nbsp; </th>
	<th>Department &nbsp; &nbsp; </th>
	<th>Position &nbsp; &nbsp; </th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
	
	
  </tr>

 <% @results.each do |result| %>

    <tr>
    <td><%= result.empid%></td> <td><%= result.name%></td> <td><%= result.email%></td> <td><%= result.department%></td> <td><%= result.position%></td> <td><%= link_to "view", employee_path(result) %></td> <td><%= link_to "Edit", edit_employee_path(result) %></td> <td><%= link_to "delete", result, method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
<% end %>
</table>

<p><%= link_to "Back to home", root_path %></p>
<p>Find me in app/views/employees/search.html.erb</p>
</center>